<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<h1>Calculadora</h1>
<body>
    <form action="/soma" method="post">
        <h2>ADIÇÃO</h2>
        <label for="">Digite o primeiro número</label>
        <input type="text" name="n1">
        <label for="">Digite o segundo número</label>
        <input type="text" name="n2">
        <input type="submit" value="Somar"></input>
    </form>
    <br>
    <form action="/sub" method="post">
        <h2>SUBTRAÇÃO</h2>       
        <label for="">Digite o primeiro número</label>
        <input type="text" name="n1">
        <label for="">Digite o segundo número</label>
        <input type="text" name="n2">
        <input type="submit" value="Subtrair"></input>
    </form>
    <br>
    <form action="/divi" method="post">
        <h2>DIVISÃO</h2>  
        <label for="">Digite o primeiro número</label>
        <input type="text" name="n1">
        <label for="">Digite o segundo número</label>
        <input type="text" name="n2">
        <input type="submit" value="Dividir"></input>
    </form>
    <br>
    <form action="/multi" method="post">
        <h2>MULTIPLICAÇÃO</h2>  
        <label for="">Digite o primeiro número</label>
        <input type="text" name="n1">
        <label for="">Digite o segundo número</label>
        <input type="text" name="n2">
        <input type="submit" value="Multiplicar"></input>
    </form>
    <h3>RESULTADO:</h3>
    <%=result%>
</body>
</html>